body {
  background-color: #F2F1E8;
  margin:0;
}

header {
  font-family: "Roboto",sans-serif;
  background-color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 6px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 5px 5px #999999;
}

#name {
  color: #02cbd6;
  float: left;
}

header ul {
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: 50px;
}

header li {
  display: inline;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.nav {
  padding: 0 30px;
}

.nav a {
  text-decoration: none;
  color: #2B2F26;
}

.nav a:hover {
  transition: 0.5s ease;
  text-decoration: underline;
  color: #02cbd6;
}

body.home a.home, body.about a.about, body.newsletter a.newsletter {
  color: #968772;
}

main {
  margin-top: 100px;
  font-family: "Merriweather",serif;
}

.container {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  text-align: center;
  color: #131511;
  margin-bottom: 10px;
}

.home h2 {
  text-align: center;
  font-weight: 200;
  font-size: 1.8em;
  color: #131511;
  margin-top: 0;
}

.about h2 {
  text-align: left;
  font-weight: 200;
  font-size: 1.8em;
  color: #131511;
  margin: 0;
  margin-top: 30px;
  padding-left: 10px;
}

footer {
  display: block;
  margin: 0;
  padding: 10px 40px;
  background-color: #131511;
  color: #F2F1E8;
}

footer h5 {
  font-weight: 200;
}

section {
  width: 50%;
  line-height: 2;
  margin: 10px auto;
  font-weight: 300;
}

blockquote {
  font-size: 0.8em;
  margin: 0 0 0 10px;
  padding: 0 0 0 40px;
  border-left: 1px solid #131511;
}

div h1 {
  color: #ffffff;
}

.caption {
  font-size: 0.5em;
}

.about ul {
  list-style: none;
}

.intro a {
  color: #968772;
}

.intro a:hover {
  transition: 1s ease;
  color: #967343;
}

.newsletter main {
  margin:0;
}

input {
  border:0;
  width: 50%;
  height: 20px;
}

input:focus {
  border:0;
  transition: 1s ease;
  border-bottom: 2px solid #967343;
}

.name,.email {
  margin: 20px 0;
  padding: 5px 0;
  color: #968772;
  font-size: 1.2em;
  border-bottom: 2px solid #968772;
}
